[Unit]
DefaultDependencies=no
Description=ClientFlow domain-isolated services
Documentation=file:/usr/share/doc/clientflow/CLIENTFLOW_RUNTIME.md
Wants=clientflow-status-agent.service
Wants=clientflow-display-agent.service clientflow-display-runtime.service clientflow-display-power-broker.socket clientflow-calendar.service
Wants=clientflow-livestream-agent.service clientflow-livestream-broker.service clientflow-livestream-producer.service clientflow-livestream-uploader.service
Wants=clientflow-remote-desktop-agent.service clientflow-remote-desktop-capture.socket clientflow-remote-desktop-input-broker.socket
Wants=clientflow-terminal-agent.service clientflow-standard-terminal-broker.socket clientflow-root-terminal-broker.socket
Wants=clientflow-system-agent.service clientflow-system-broker.socket

[Install]
WantedBy=multi-user.target
